*{
  margin: 0;
  padding: 0;
  display: block;
  background-color:lightslategrey;
}
.section{
  /* height: 100vh; */
  width: 100%;
}

#home{
padding-top: 300px;
font-weight: bold;
margin-bottom: 300px;
color:white;
/* background-image: url(./img/portfolio-background-4-1080x507.gif); */
}
.details{
  font-weight: bold;
  justify-content: center;
}
div.bor{
  border: 2px solid white;
}
.navbar{
  font-weight: bold;
}
ul li a:hover{
  background-color: white;
  color: black;
  transform: scale(1.3);
}
h1{
padding-top: 50px;
text-align: center;
padding-bottom: 50px;
}
.navbar ul li a{
  color: white;
}
.card h5, .skill{
color: white;
}