*{
  margin: 0;
  padding: 0;
  display: block;
  background-color:lightslategrey;
}
.section{
  height: 100%;
  width: 100%;
}

#home{
padding-top: 300px;
font-weight: bold;
margin-bottom: 300px;
color:white;
}
.details{
  font-weight: bold;
  justify-content: center;
}
div.bor{
  border: 2px solid black;
}
.navbar{
  font-weight: bold;
}
ul li a:hover{
  background-color: white;
  color: black;
}
h1{
padding-top: 50px;
text-align: center;
padding-bottom: 50px;
}
.navbar ul li a{
  color: white;
}
.card h5, .skill{
color: white;
}
#education .row{
  color:white ;
}